{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}DSAPTEA Financial Management System{% endblock title %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon/favicon.ico' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="{% static 'assets/libs/dropzone/dist/dropzone.css' %}" rel="stylesheet">
        <link href="{% static 'assets/libs/@mdi/font/css/materialdesignicons.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %}">
        <link href="https://cdn.datatables.net/v/bs5/dt-2.1.7/datatables.min.css" rel="stylesheet">
    </head>
    <body class="bg-light">
        <div id="db-wrapper">
            {% include './sidebar.html' %}
            <div id="page-content">
                {% include './navbar.html' %}
                {% block content %}
                
                {% endblock content %}
            </div>
        </div>
        <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/libs/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'assets/libs/feather-icons/dist/feather.min.js' %}"></script>
        <script src="{% static 'assets/libs/dropzone/dist/min/dropzone.min.js' %}"></script>
        <script src="{% static 'assets/libs/prismjs/plugins/toolbar/prism-toolbar.min.js' %}"></script>
        <script src="{% static 'assets/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js' %}"></script>
        <script src="{% static 'assets/js/theme.min.js' %}"></script>
        <script src="https://cdn.datatables.net/v/bs5/dt-2.1.7/datatables.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script>
          fetch('/get_monthly_payment_data/')
        .then(response => response.json())
        .then(data => {
          const paymentData = data.payment_data;
          const months = data.months;

          const options = {
            series: [
              {
                name: 'Trust Fund',
                data: paymentData['Trust Fund']
              },
              {
                name: 'Membership',
                data: paymentData['Membership']
              },
              {
                name: 'Delegation Pay',
                data: paymentData['Delegation Pay']
              },
              {
                name: 'Visitors Fund',
                data: paymentData['Visitors Fund']
              }
            ],
            chart: {
              type: 'bar',
              height: 350,
              fontFamily: 'Inter'
            },
            plotOptions: {
              bar: {
                horizontal: false,
                columnWidth: '55%',
                endingShape: 'rounded'
              }
            },
            dataLabels: {
              enabled: false
            },
            stroke: {
              show: true,
              width: 2,
              colors: ['transparent']
            },
            xaxis: {
              categories: months,
            },
            yaxis: {
              title: {
                text: 'Funds'
              }
            },
            fill: {
              opacity: 1
            },
            tooltip: {
              y: {
                formatter: function (val) {
                  return "₱ " + val + " ";
                }
              }
            }
          };

          var chart = new ApexCharts(document.querySelector("#chart"), options);
          chart.render();
        })
        .catch(error => console.error('Error fetching data:', error));
       
        function back(){
            window.history.back()
        }

        $(document).ready(function(){
            $("#datatable").DataTable()
            var datatable = document.querySelector("#datatable_wrapper")
            var lastElement = datatable.children[2];
            lastElement.classList.add('mb-2')

            var removeBackground = document.querySelector("thead")
        });
        </script>
    </body>
</html>
