{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}DSAPTEA Financial Management System{% endblock title %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon/favicon.ico' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="{% static 'assets/libs/dropzone/dist/dropzone.css' %}" rel="stylesheet">
        <link href="{% static 'assets/libs/@mdi/font/css/materialdesignicons.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %}">
        <link href="https://cdn.datatables.net/v/bs5/dt-2.1.7/datatables.min.css" rel="stylesheet">
        <style>
          #piste {
              min-height: 400px;
              display: flex;
              justify-content: center;
              align-items: center;
          }
        </style>
    </head>
    <body class="bg-light">
        <div id="db-wrapper">
            {% include './sidebar.html' %}
            <div id="page-content">
                {% include './navbar.html' %}
                {% block content %}
                
                {% endblock content %}
            </div>
        </div>
        <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/libs/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'assets/libs/feather-icons/dist/feather.min.js' %}"></script>
        <script src="{% static 'assets/libs/dropzone/dist/min/dropzone.min.js' %}"></script>
        <script src="{% static 'assets/libs/prismjs/plugins/toolbar/prism-toolbar.min.js' %}"></script>
        <script src="{% static 'assets/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js' %}"></script>
        <script src="{% static 'assets/js/theme.min.js' %}"></script>
        <script src="https://cdn.datatables.net/v/bs5/dt-2.1.7/datatables.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script>
        
        $(document).ready(function(){

          if($('option').length > 0) {
            $('option').each(function() {
                if ($(this).text() === '---------') {
                    $(this).text('Select Option');
                }
            });
          }
        })

          fetch('/get_monthly_payment_data/')
        .then(response => response.json())
        .then(data => {
          const paymentData = data.payment_data;
          const months = data.months;

          const options = {
            series: [
              {
                name: 'Trust Fund',
                data: paymentData['Trust Fund']
              },
              {
                name: 'Membership',
                data: paymentData['Membership']
              },
              {
                name: 'Delegation Pay',
                data: paymentData['Delegation Pay']
              },
              {
                name: 'Visitors Fund',
                data: paymentData['Visitors Fund']
              }
            ],
            chart: {
              type: 'bar',
              height: 350,
              fontFamily: 'Inter'
            },
            plotOptions: {
              bar: {
                horizontal: false,
                columnWidth: '55%',
                endingShape: 'rounded'
              }
            },
            dataLabels: {
              enabled: false
            },
            stroke: {
              show: true,
              width: 2,
              colors: ['transparent']
            },
            xaxis: {
              categories: months,
            },
            yaxis: {
              title: {
                text: 'Funds'
              }
            },
            fill: {
              opacity: 1
            },
            tooltip: {
              y: {
                formatter: function (val) {
                  return "₱ " + val + " ";
                }
              }
            }
          };

          if (document.querySelector('#chart')) {
            var chart = new ApexCharts(document.querySelector("#chart"), options);
            chart.render();
          }
        })
        .catch(error => console.error('Error fetching data:', error));
        


        async function fetchAssistanceData() {
    try {
        const response = await fetch('{% url "assistance_type_count" %}');
        const data = await response.json();

        if (response.ok) {
            var options = {
                series: [data.hospitalization_count, data.death_count],
                chart: {
                    type: 'pie',
                    width: 450,
                    height: 450,
                },
                plotOptions: {
                    pie: {
                        offsetY: 0,
                        offsetX: 0,
                        size: 250,
                    }
                },
                labels: ['Hospitalization', 'Death'],
                legend: {
                    position: 'right',
                    horizontalAlign: 'center',
                    floating: false,
                    fontSize: '14px'
                },
                responsive: [{
                    breakpoint: 480,
                    options: {
                        chart: {
                            height: 350
                        },
                        legend: {
                            position: 'bottom'
                        },
                        plotOptions: {
                            pie: {
                                size: 200
                            }
                        }
                    }
                }]
            };

            if (document.querySelector("#yawa")) {
                var chart = new ApexCharts(document.querySelector("#yawa"), options);
                chart.render();
            }
        } else {
            console.error('Error fetching data:', data);
        }
    } catch (error) {
        console.error('Error fetching assistance data:', error);
    }
}

        fetchAssistanceData();

        async function fetchMembershipData() {
          try {
              const response = await fetch('{% url "membership_statistics" %}');
              const data = await response.json();

              if (response.ok) {
                  const labels = Object.keys(data);
                  const series = Object.values(data);

                  var options = {
                      series: series,
                      chart: {
                          type: 'pie',
                          height: 480,
                          width: 480,
                      },
                      plotOptions: {
                          pie: {
                              offsetY: 0,
                              offsetX: 0,
                              size: 250,
                          }
                      },
                      labels: labels,
                      legend: {
                          position: 'right',
                          horizontalAlign: 'center',
                          floating: false,
                          fontSize: '14px'
                      },
                      responsive: [{
                          breakpoint: 480,
                          options: {
                              chart: {
                                  height: 350
                              },
                              legend: {
                                  position: 'bottom'
                              },
                              plotOptions: {
                                  pie: {
                                      size: 200
                                  }
                              }
                          }
                      }]
                  };

                  if (document.querySelector("#piste")) {
                      var chart = new ApexCharts(document.querySelector("#piste"), options);
                      chart.render();
                  }
              } else {
                  console.error('Error fetching data:', data);
              }
          } catch (error) {
              console.error('Error fetching membership data:', error);
          }
      }

        fetchMembershipData();

        function back(){
            window.history.back()
        }

        $(document).ready(function(){

          window.onload = function () {
              if ($("#id_assistance_evidence_first").length > 0 && $("#id_assistance_evidence_second").length > 0 && $("#id_death_cert").length > 0) {

                $(".id_assistance_evidence_first").css('display', 'none');
                $(".id_assistance_evidence_second").css('display', 'none');
                $(".id_death_cert").css('display', 'none');

                if ($("#id_type_of_assistance").length > 0) {
                    $("#id_type_of_assistance").on('change', function() {
                        let type = $("#id_type_of_assistance").val();

                        switch (type) {
                            case 'Death':
                                $(".id_assistance_evidence_first").css('display', 'none');
                                $(".id_assistance_evidence_second").css('display', 'none');
                                $(".id_death_cert").css('display', 'block');
                                break;

                            case 'Hospitalization':
                                $(".id_assistance_evidence_first").css('display', 'block');
                                $(".id_assistance_evidence_second").css('display', 'block');
                                $(".id_death_cert").css('display', 'none');
                                break;

                            default:
                                $("#id_assistance_evidence_first").css('display', 'none');
                                $("#id_assistance_evidence_second").css('display', 'none');
                                $("#id_death_cert").css('display', 'none');
                                break;
                        }
                    });
                }
              }
          };
            
            if ($("#datatable").length > 0) {
              
              if (window.location.pathname == "/members/pending/list" || window.location.pathname == "/members/list") {
                $("#datatable").DataTable({
                    paging: true,
                    lengthChange: true,
                    searching: true,
                    ordering: true,
                    info: true,
                    autoWidth: false,
                    responsive: true,
                    order: [[0, "desc"]],
                    columnDefs: [
                        { 
                            searchable: false,
                            targets: [3],
                        },
                    ],
                    pageLength: 50
                });
                $("#dt-search-0").attr('placeholder', 'Search by Name or ID')
              } else if (window.location.pathname == "/payments/list"){
                $("#datatable").DataTable({
                    paging: true,
                    lengthChange: true,
                    searching: true,
                    ordering: true,
                    info: true,
                    autoWidth: false,
                    responsive: true,
                    order: [[0, "desc"]],
                    columnDefs: [
                        { 
                            searchable: false,
                            targets: [2, 3],
                        },
                    ],
                    pageLength: 50
                });
                $("#dt-search-0").attr('placeholder', 'Search using Name or ID....')
              }  else {
                $("#datatable").DataTable({
                    paging: true,
                    lengthChange: true,
                    searching: true,
                    ordering: true,
                    info: true,
                    autoWidth: false,
                    responsive: true,
                    order: [[0, "desc"]],
                    
                    pageLength: 50
                });
                $("#dt-search-0").attr('placeholder', 'Search....')
              }

              
              var datatable = document.querySelector("#datatable_wrapper")
              var lastElement = datatable.children[2];
              lastElement.classList.add('mb-2')
              var removeBackground = document.querySelector("thead")
            }

        });
        </script>
    </body>
</html>
