{% load static %}
<nav class="navbar-vertical navbar">
    {% if request.user.user_type == "Treasurer" %}
    <div class="nav-scroller">
        <a class="navbar-brand" href="{% url 'dashboard' %}">
            <h3 class="text-white" style="margin-bottom: 0px; font-weight: 600;">DSAPSTEA</h3>
            <span style="font-size: 17px; color: white; margin-top: 0px;">Financial Management</span>
        </a>
        <ul class="navbar-nav flex-column" id="sideNavbar">
            <li class="nav-item">
                <div class="navbar-heading">Dashboard</div>
            </li>
            <li class="nav-item">
                <a class="nav-link has-arrow  active " href="{% url 'dashboard' %}">
                    <i data-feather="home" class="nav-icon icon-xs me-2"></i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <div class="navbar-heading">Membership Module</div>
            </li>
            <li class="nav-item">
                <a class="nav-link has-arrow " href="{% url 'membership_page' %}">
                    <i data-feather="users" class="nav-icon icon-xs me-2"></i>
                    Enrolled Members
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link has-arrow " href="{% url 'pending_membership_page' %}">
                    <i data-feather="user-x" class="nav-icon icon-xs me-2"></i>
                    Pending Members
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link has-arrow " href="{% url 'beneficiary_page' %}">
                    <i data-feather="users" class="nav-icon icon-xs me-2"></i>
                    Manage Beneficiaries
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link has-arrow " href="{% url 'dependents_page' %}">
                    <i data-feather="users" class="nav-icon icon-xs me-2"></i>
                    Manage Dependents
                </a>
            </li>
            <li class="nav-item">
                <div class="navbar-heading">Payment Module</div>
            </li>
            <li class="nav-item">
                <a class="nav-link has-arrow " href="{% url 'payments_page' %}">
                    <i data-feather="folder" class="nav-icon icon-xs me-2"></i>
                    Manage Payments
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link has-arrow " href="{% url 'add_payment_page' %}">
                    <i data-feather="user-plus" class="nav-icon icon-xs me-2"></i>
                    Add Payment
                </a>
            </li>
            <li class="nav-item">
                <div class="navbar-heading">User Module</div>
            </li>
            <li class="nav-item">
                <a class="nav-link has-arrow " href="{% url 'users_page' %}">
                    <i data-feather="folder" class="nav-icon icon-xs me-2"></i>
                    Manage Users
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link has-arrow " href="{% url 'inactive_users_page' %}">
                    <i data-feather="user-x" class="nav-icon icon-xs me-2"></i>
                    Inactive Users
                </a>
            </li>
            <li class="nav-item">
                <div class="navbar-heading">Ledger Module</div>
            </li>
            <li class="nav-item">
                <a class="nav-link has-arrow " href="{% url 'ledger_list' %}">
                    <i data-feather="folder" class="nav-icon icon-xs me-2"></i>
                    Manage Ledger
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link has-arrow " href="{% url 'export_ledger_list' %}">
                    <i data-feather="book" class="nav-icon icon-xs me-2"></i>
                    Export Ledger
                </a>
            </li>
            <li class="nav-item">
                <div class="navbar-heading">Assistance Module</div>
            </li>
            <li class="nav-item">
                <a class="nav-link has-arrow " href="{% url 'assistance_page' %}">
                    <i data-feather="folder" class="nav-icon icon-xs me-2"></i>
                    Manage Assistance
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link has-arrow " href="{% url 'release_expense_page' %}">
                    <i data-feather="clipboard" class="nav-icon icon-xs me-2"></i>
                    Expenses
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link has-arrow " href="{% url 'other_expense_page' %}">
                    <i data-feather="clipboard" class="nav-icon icon-xs me-2"></i>
                    Other Expenses
                </a>
            </li>


            <li class="nav-item">
                <div class="navbar-heading">School Year Module</div>
            </li>
            <li class="nav-item">
                <a class="nav-link has-arrow " href="{% url 'school_page' %}">
                    <i data-feather="calendar" class="nav-icon icon-xs me-2"></i>
                    Manage School Year
                </a>
            </li>

            <li class="nav-item">
                <div class="navbar-heading">Report Page</div>
            </li>

            <li class="nav-item">
                <a class="nav-link has-arrow " href="{% url 'membership_fee_page' %}">
                    <i data-feather="printer" class="nav-icon icon-xs me-2"></i>
                    Membership Report
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link has-arrow " href="{% url 'monthly_due_page' %}">
                    <i data-feather="printer" class="nav-icon icon-xs me-2"></i>
                    Monthly Dues Report
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link has-arrow " href="{% url 'assistance_report_expense_page' %}">
                    <i data-feather="printer" class="nav-icon icon-xs me-2"></i>
                    Release Expenses
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link has-arrow " href="{% url 'other_report_expense_page' %}">
                    <i data-feather="printer" class="nav-icon icon-xs me-2"></i>
                    Other Expense
                </a>
            </li>
        </ul>
    </div>
    {% elif request.user.user_type == "President"  %}
    <div class="nav-scroller">
        <a class="navbar-brand" href="{% url 'dashboard' %}">
            <h3 class="text-white" style="margin-bottom: 0px; font-weight: 600;">DSAPSTEA</h3>
            <span style="font-size: 17px; color: white; margin-top: 0px;">Financial Management</span>
        </a>
        <ul class="navbar-nav flex-column" id="sideNavbar">
            <li class="nav-item">
                <div class="navbar-heading">Dashboard</div>
            </li>
            <li class="nav-item">
                <a class="nav-link has-arrow  active " href="{% url 'dashboard' %}">
                    <i data-feather="home" class="nav-icon icon-xs me-2"></i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <div class="navbar-heading">Main Pages</div>
            </li>
            <li class="nav-item {% if 'assistance' in request.path %}active{% endif %}">
                <a
                    class="nav-link has-arrow  collapsed "
                    href="#!"
                    data-bs-toggle="collapse"
                    data-bs-target="#assistance"
                    aria-expanded="false"
                    aria-controls="assistance"
                >
                    <i data-feather="layers" class="nav-icon icon-xs me-2"></i>
                    Assistance
                </a>
                <div id="assistance" class="collapse {% if 'assistance' in request.path %}show{% endif %}" data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'assistance_page' %}">
                                List of Assistance
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'pending_assistance_page' %}">
                                Pending Assistance
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    {% else %}
    <div class="nav-scroller">
        <a class="navbar-brand" href="#">
            <h3 class="text-white" style="margin-bottom: 0px; font-weight: 600;">DSAPSTEA</h3>
            <span style="font-size: 17px; color: white; margin-top: 0px;">Financial Management</span>
        </a>
        <ul class="navbar-nav flex-column" id="sideNavbar">
            <li class="nav-item">
                <div class="navbar-heading">Main Pages</div>
            </li>
            <li class="nav-item {% if request.path == '/employee/membership/add' or request.path == '/employee/assistance/add' or request.path == '/employee/assistance/list' %}active{% endif %}">
                <a
                    class="nav-link has-arrow  collapsed "
                    href="#!"
                    data-bs-toggle="collapse"
                    data-bs-target="#assistance"
                    aria-expanded="false"
                    aria-controls="assistance"
                >
                    <i data-feather="layers" class="nav-icon icon-xs me-2"></i>
                    Assistance
                </a>
                <div id="assistance" class="collapse {% if request.path == '/employee/membership/add' or request.path == '/employee/assistance/add' or request.path == '/employee/assistance/list' %}show{% endif %}" data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'employee_apply_assistance' %}">
                                Apply Assistance
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'employee_apply_membership' %}">
                                Enroll Membership
                            </a>
                        </li>
                        {% if request.user.user_type == 'Employee' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'membership_me' pk=request.user.id %}">
                                Membership Details
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'employee_assistance_request' %}">
                                My Assistance Request
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item {% if request.path == '/employee/payment/list' %}active{% endif %}">
                <a
                    class="nav-link has-arrow  collapsed "
                    href="#!"
                    data-bs-toggle="collapse"
                    data-bs-target="#payments"
                    aria-expanded="false"
                    aria-controls="payments"
                >
                    <i data-feather="layers" class="nav-icon icon-xs me-2"></i>
                    Payments
                </a>
                <div id="payments" class="collapse {% if request.path == '/employee/payment/list' %}show{% endif %}" data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'employee_view_payments' %}">
                                My Payments
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item {% if request.path == '/employee/beneficiary/list' or request.path == '/employee/beneficiary/add' %}active{% endif %}">
                <a
                    class="nav-link has-arrow  collapsed "
                    href="#!"
                    data-bs-toggle="collapse"
                    data-bs-target="#beneficiary"
                    aria-expanded="false"
                    aria-controls="#beneficiary"
                >
                    <i data-feather="layers" class="nav-icon icon-xs me-2"></i>
                    Member Details
                </a>
                <div id="beneficiary" class="collapse {% if request.path == '/employee/beneficiary/list' or request.path == '/employee/beneficiary/add' %}show{% endif %}" data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'employee_view_beneficiary' %}">
                                Beneficiaries
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'employee_view_dependents' %}">
                                Dependents
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'employee_add_beneficiary' %}">
                                Add Beneficiary
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'add_my_dependent_page' %}">
                                Add Dependent
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    {% endif %}
</nav>
