{% load static %}
<nav class="navbar-vertical navbar">
    {% if request.user.user_type == "Treasurer" %}
    <div class="nav-scroller">
        <a class="navbar-brand" href="{% url 'dashboard' %}">
            <h3 class="text-white" style="margin-bottom: 0px; font-weight: 600;">DSAPSTEA</h3>
            <span style="font-size: 17px; color: white; margin-top: 0px;">Financial Management System</span>
        </a>
        <ul class="navbar-nav flex-column" id="sideNavbar">
            <li class="nav-item">
                <div class="navbar-heading">Dashboard</div>
            </li>
            <li class="nav-item">
                <a class="nav-link has-arrow  active " href="{% url 'dashboard' %}">
                    <i data-feather="home" class="nav-icon icon-xs me-2"></i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <div class="navbar-heading">Main Pages</div>
            </li>
            <li class="nav-item {% if 'members' in request.path %}active{% endif %}">
                <a
                    class="nav-link has-arrow collapsed"
                    href="#!"
                    data-bs-toggle="collapse"
                    data-bs-target="#membership"
                    aria-expanded="false"
                    aria-controls="membership"
                >
                    <i data-feather="layers" class="nav-icon icon-xs me-2"></i>
                    Membership
                </a>
                <div id="membership" class="collapse {% if 'members' in request.path %}show{% endif %}" data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'membership_page' %}">
                                Members List
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'pending_membership_page' %}">
                                Pending Members
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item {% if 'beneficiary' in request.path %}active{% endif %}">
                <a
                    class="nav-link has-arrow collapsed"
                    href="#!"
                    data-bs-toggle="collapse"
                    data-bs-target="#beneficiary"
                    aria-expanded="false"
                    aria-controls="beneficiary"
                >
                    <i data-feather="layers" class="nav-icon icon-xs me-2"></i>
                    Beneficiary
                </a>
                <div id="beneficiary" class="collapse {% if 'beneficiary' in request.path %}show{% endif %}" data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'beneficiary_page' %}">
                                Beneficiary List
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item {% if 'payments' in request.path %}active{% endif %}">
                <a
                    class="nav-link has-arrow collapsed"
                    href="#!"
                    data-bs-toggle="collapse"
                    data-bs-target="#payments"
                    aria-expanded="false"
                    aria-controls="payments"
                >
                    <i data-feather="layers" class="nav-icon icon-xs me-2"></i>
                    Payments
                </a>
                <div id="payments" class="collapse {% if 'payments' in request.path %}show{% endif %}" data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'payments_page' %}">
                                List of Payments
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item {% if 'users' in request.path %}active{% endif %}">
                <a
                    class="nav-link has-arrow  collapsed "
                    href="#!"
                    data-bs-toggle="collapse"
                    data-bs-target="#users"
                    aria-expanded="false"
                    aria-controls="users"
                >
                    <i data-feather="users" class="nav-icon icon-xs me-2"></i>
                    Users
                </a>
                <div id="users" class="collapse {% if 'users' in request.path %}show{% endif %}" data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'users_page' %}">
                                List of Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'inactive_users_page' %}">
                                Inactive Users
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item {% if 'assistance' in request.path %}active{% endif %}">
                <a
                    class="nav-link has-arrow  collapsed "
                    href="#!"
                    data-bs-toggle="collapse"
                    data-bs-target="#assistance"
                    aria-expanded="false"
                    aria-controls="assistance"
                >
                    <i data-feather="layers" class="nav-icon icon-xs me-2"></i>
                    Assistance
                </a>
                <div id="assistance" class="collapse {% if 'assistance' in request.path %}show{% endif %}" data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'assistance_page' %}">
                                List of Assistance
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'pending_assistance_page' %}">
                                Pending Assistance
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <div class="navbar-heading">Report Page</div>
            </li>
            <li class="nav-item {% if 'report' in request.path %}active{% endif %}">
                <a
                    class="nav-link has-arrow  collapsed"
                    href="#!"
                    data-bs-toggle="collapse"
                    data-bs-target="#report"
                    aria-expanded="false"
                    aria-controls="report"
                >
                    <i data-feather="layers" class="nav-icon icon-xs me-2"></i>
                    Report
                </a>
                <div id="report" class="collapse {% if 'report' in request.path %}show{% endif %}" data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'membership_fee_page' %}">
                                Membership Fee
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'monthly_due_page' %}">
                                Monthly Dues
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'expense_page' %}">
                                Expenses
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    {% elif request.user.user_type == "President"  %}
    <div class="nav-scroller">
        <a class="navbar-brand" href="{% url 'dashboard' %}">
            <h3 class="text-white" style="margin-bottom: 0px; font-weight: 600;">DSAPSTEA</h3>
            <span style="font-size: 17px; color: white; margin-top: 0px;">Financial Management System</span>
        </a>
        <ul class="navbar-nav flex-column" id="sideNavbar">
            <li class="nav-item">
                <div class="navbar-heading">Dashboard</div>
            </li>
            <li class="nav-item">
                <a class="nav-link has-arrow  active " href="{% url 'dashboard' %}">
                    <i data-feather="home" class="nav-icon icon-xs me-2"></i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <div class="navbar-heading">Main Pages</div>
            </li>
            <li class="nav-item {% if 'assistance' in request.path %}active{% endif %}">
                <a
                    class="nav-link has-arrow  collapsed "
                    href="#!"
                    data-bs-toggle="collapse"
                    data-bs-target="#assistance"
                    aria-expanded="false"
                    aria-controls="assistance"
                >
                    <i data-feather="layers" class="nav-icon icon-xs me-2"></i>
                    Assistance
                </a>
                <div id="assistance" class="collapse {% if 'assistance' in request.path %}show{% endif %}" data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'assistance_page' %}">
                                List of Assistance
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'pending_assistance_page' %}">
                                Pending Assistance
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    {% else %}
    <div class="nav-scroller">
        <a class="navbar-brand" href="#">
            <h3 class="text-white" style="margin-bottom: 0px; font-weight: 600;">DSAPSTEA</h3>
            <span style="font-size: 17px; color: white; margin-top: 0px;">Financial Management System</span>
        </a>
        <ul class="navbar-nav flex-column" id="sideNavbar">
            <li class="nav-item">
                <div class="navbar-heading">Main Pages</div>
            </li>
            <li class="nav-item {% if request.path == '/employee/membership/add' or request.path == '/employee/assistance/add' or request.path == '/employee/assistance/list' %}active{% endif %}">
                <a
                    class="nav-link has-arrow  collapsed "
                    href="#!"
                    data-bs-toggle="collapse"
                    data-bs-target="#assistance"
                    aria-expanded="false"
                    aria-controls="assistance"
                >
                    <i data-feather="layers" class="nav-icon icon-xs me-2"></i>
                    Assistance
                </a>
                <div id="assistance" class="collapse {% if request.path == '/employee/membership/add' or request.path == '/employee/assistance/add' or request.path == '/employee/assistance/list' %}show{% endif %}" data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'employee_assistance_request' %}">
                                My Assistance Request
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'employee_apply_membership' %}">
                                Apply Membership
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'employee_apply_assistance' %}">
                                Apply Assistance
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <div class="navbar-heading">Others</div>
            </li>
            <li class="nav-item {% if request.path == '/employee/payment/list' %}active{% endif %}">
                <a
                    class="nav-link has-arrow  collapsed "
                    href="#!"
                    data-bs-toggle="collapse"
                    data-bs-target="#payments"
                    aria-expanded="false"
                    aria-controls="payments"
                >
                    <i data-feather="layers" class="nav-icon icon-xs me-2"></i>
                    Payments
                </a>
                <div id="payments" class="collapse {% if request.path == '/employee/payment/list' %}show{% endif %}" data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'employee_view_payments' %}">
                                My Payments
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item {% if request.path == '/employee/beneficiary/list' or request.path == '/employee/beneficiary/add' %}active{% endif %}">
                <a
                    class="nav-link has-arrow  collapsed "
                    href="#!"
                    data-bs-toggle="collapse"
                    data-bs-target="#beneficiary"
                    aria-expanded="false"
                    aria-controls="#beneficiary"
                >
                    <i data-feather="layers" class="nav-icon icon-xs me-2"></i>
                    Beneficiary
                </a>
                <div id="beneficiary" class="collapse {% if request.path == '/employee/beneficiary/list' or request.path == '/employee/beneficiary/add' %}show{% endif %}" data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'employee_view_beneficiary' %}">
                                My Beneficiaries
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'employee_add_beneficiary' %}">
                                Add Beneficiary
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    {% endif %}
</nav>
