{% extends './../includes/base.html' %}
{% load static %}
{% block title %}DSAPTEA Financial Management System | {{ title }} {% endblock title %}

{% block content %}
<div class="container-fluid mt-n22 px-6 mt-6">
    <div class="row my-6">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            {% include './../includes/message.html' %}
            <div class="card">
                <div class="card-header border-0 bg-white d-flex justify-content-between align-items-center">
                    <h4 class="mb-0">{{ header_title }}</h4>
                    <a href="{{ path }}" class="btn btn-primary">{{ add_button_name }}</a>
                </div>
                <div class="table-responsive">
                    <table class="table text-nowrap" id="datatable">
                        <thead>
                            <tr>
                                {% for header_name in header_list %}
                                <th>{{ header_name }}</th>
                                {% endfor %}
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in view_data %}
                            <tr>
                                {% for field, value in item.items %}
                                    {% if field != "id" %}
                                        <td class="align-middle">{{ value }}</td>
                                    {% endif %}
                                {% endfor %}
                                <td class="align-middle">
                                    <div class="dropdown dropstart">
                                        <a
                                            class="text-muted text-primary-hover"
                                            href="#"
                                            role="button"
                                            id="dropdownTeamOne"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                        >
                                            <i class="icon-xxs" data-feather="more-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownTeamOne{{ item.id }}">
                                            {% if "members" in request.path %}
                                            <a class="dropdown-item" href="{% url 'update_membership' pk=item.id %}">Edit</a>
                                            {% elif "beneficiary" in request.path %}
                                            <a class="dropdown-item" href="{% url 'update_beneficiary' pk=item.id %}">Edit</a>
                                            {% elif "payments" in request.path %}
                                            <a class="dropdown-item" href="{% url 'update_payment' pk=item.id %}">Edit</a>
                                            {% elif "users" in request.path %}
                                            <a class="dropdown-item" href="{% url 'update_user' pk=item.id %}">Edit</a>
                                            {% elif "assistance" in request.path %}
                                            <a class="dropdown-item" href="{% url 'update_assistance' pk=item.id %}">Edit</a>
                                            {% endif %}
                                            <a class="dropdown-item" href="#">Remove</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
