{% extends './../includes/base.html' %}
{% load static %}
{% block title %}DSAPTEA Financial Management System | {{ title }} {% endblock title %}

{% block content %}
<div class="container-fluid mt-n22 px-6 mt-6">
    <div class="row my-6">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            {% include './../includes/message.html' %}
            <div class="card">
                <div class="card-header border-0 bg-white d-flex justify-content-between align-items-center">
                    <h4 class="mb-0">{{ header_title }}</h4>
                    {% if request.user.user_type == "Treasurer" %}
                    <div>
                        {% if "report" in request.path %}
                            {% if "fee" in request.path %}
                                <a
                                    class="btn btn-primary"
                                    type="button"
                                    class="btn btn-primary"
                                    data-bs-toggle="modal"
                                    data-bs-target="#membershipModal"
                                >
                                    Membership Report
                                </a>
                            {% elif "dues" in request.path %}
                                <a class="btn btn-primary" href="{% url 'generate_dues_fee' %}">Export Report</a>
                            {% else %}
                                <a class="btn btn-primary" href="{% url 'generate_expense_fee' %}">Export Report</a>
                            {% endif %}

                        {% else %}
                            <a href="{{ path }}" class="btn btn-primary">{{ add_button_name }}</a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                <div class="table-responsive">
                    <table class="table text-nowrap" id="datatable">
                        <thead>
                            <tr>
                                {% for header_name in header_list %}
                                <th>{{ header_name }}</th>
                                {% endfor %}
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in view_data %}
                            <tr>
                                {% for field, value in item.items %}
                                {% if field != "id" %}
                                    <td>
                                        {% if field == "released_status" %}
                                            {% if value %}
                                                <span class="badge bg-primary">Released</span>
                                            {% else %}
                                                <span class="badge bg-primary">Pending</span>
                                            {% endif %}
                                        {% elif field == "assistance_status" %}
                                            {% if value %}
                                                <span class="badge bg-primary">Approved</span>
                                            {% else %}
                                                <span class="badge bg-primary">Pending</span>
                                            {% endif %}
                                        {% else %}
                                            {{ value }}
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% endfor %}
                                <td class="align-middle">
                                    <div class="dropdown dropstart">
                                        <a
                                            class="text-muted text-primary-hover"
                                            href="#"
                                            role="button"
                                            id="dropdownTeamOne"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                        >
                                            <i class="icon-xxs" data-feather="more-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownTeamOne{{ item.id }}">
                                            {% if request.path == '/members/list' %}
                                            <a class="dropdown-item" href="{% url 'update_membership' pk=item.id %}">Edit</a>
                                            <a class="dropdown-item" href="{% url 'delete_membership' pk=item.id %}">Unenroll Member</a>
                                            {% elif request.path == '/members/pending/list' %}
                                            <a class="dropdown-item" href="{% url 'approve_membership' pk=item.id %}">Approve Membership</a>
                                            {% elif "beneficiary" in request.path %}
                                            <a class="dropdown-item" href="{% url 'update_beneficiary' pk=item.id %}">Edit</a>
                                            <a class="dropdown-item" href="{% url 'delete_beneficiary' pk=item.id %}">Remove</a>
                                            {% elif "payments" in request.path %}
                                            <a class="dropdown-item" href="{% url 'update_payment' pk=item.id %}">Edit</a>
                                            <a class="dropdown-item" href="{% url 'delete_payment' pk=item.id %}">Remove</a>
                                            {% elif request.path == '/assistance/pending/list' %}
                                            <a class="dropdown-item" href="{% url 'approve_assistance' pk=item.id %}">Approve Assistance</a>
                                            {% elif request.path == '/assistance/list' %}
                                            {% if request.user.user_type == "President" %}
                                            <a class="dropdown-item" href="{% url 'update_assistance' pk=item.id %}">Edit</a>
                                            <a class="dropdown-item" href="{% url 'delete_assistance' pk=item.id %}">Remove</a>
                                            {% else %}
                                            <a class="dropdown-item" href="{% url 'update_assistance_release_status_details' pk=item.id %}">Update Release Status</a>
                                            {% endif %}
                                            {% elif request.path == '/users/inactive/list' %}
                                            <a class="dropdown-item" href="{% url 'activate_user' pk=item.id %}">Activate User</a>
                                            {% elif "users" in request.path %}
                                            <a class="dropdown-item" href="{% url 'update_user' pk=item.id %}">Edit</a>
                                            <a class="dropdown-item" href="{% url 'delete_user' pk=item.id %}">Remove</a>
                                            {% elif "assistance" in request.path %}
                                            <a class="dropdown-item" href="{% url 'update_assistance' pk=item.id %}">Edit</a>
                                            <a class="dropdown-item" href="{% url 'delete_assistance' pk=item.id %}">Remove</a>
                                            {% elif request.path == "/expenses/list" %}
                                            <a class="dropdown-item" href="{% url 'update_expense_page_form' pk=item.id %}">Edit</a>
                                            <a class="dropdown-item" href="{% url 'delete_expense_page_form' pk=item.id %}">Remove</a>
                                            {% elif request.path == "/dependents/list" %}
                                            <a class="dropdown-item" href="{% url 'update_dependent_page' pk=item.id %}">Edit</a>
                                            <a class="dropdown-item" href="{% url 'delete_dependent_page' pk=item.id %}">Remove</a>
                                            {% else %}
                                            <a class="dropdown-item" href="{% url 'update_payment' pk=item.id %}">Edit</a>
                                            <a class="dropdown-item" href="{% url 'delete_payment' pk=item.id %}">Remove</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% if schools %}
<div
    class="modal fade"
    id="membershipModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="membershipModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-lg" role="document">
        <form action="{% url 'generate_annual_membership_report' %}" method="post">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="membershipModalLabel">Generate Annual Membership Report</h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    >
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-label" for="range_from">Start of school year</label>
                        <input
                            type="date"
                            name="range_from"
                            id="range_from"
                            class="form-control"
                            value="2024-01-01"
                        >
                    </div>
                    <div class="form-group mt-2">
                        <label class="form-label" for="range_to">End of school year</label>
                        <input
                            type="date"
                            name="range_to"
                            id="range_to"
                            class="form-control"
                            value="2024-12-01"
                        >
                    </div>
                    <div class="form-group mt-2">
                        <label class="form-label" for="school">Affiliated School</label>
                        <select name="school" id="school" class="form-control">
                            {% for school in schools %}
                            <option value="All">All Schools</option>
                            <option value="{{ school }}">{{ school }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Download Membership Report</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}
