{% extends './../includes/base.html' %}
{% load static %}
{% block title %}DSAPTEA Financial Management System | {{ title }} {% endblock title %}

{% block content %}
<div class="container-fluid mt-n22 px-6 mt-6">
    <div class="row my-6">
        <h4>View your data here</h4>
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            {% include './../includes/message.html' %}
            <div class="card">
                <div class="card-header border-0 bg-white d-flex justify-content-between align-items-center">
                    <h4 class="mb-0">{{ header_title }}</h4>
                    {% if request.user.user_type == "Treasurer" %}
                    <div>
                        <a href="{{ path }}" class="btn btn-primary">{{ add_button_name }}</a>
                        {% if "report" in request.path %}
                            {% if "fee" in request.path %}
                                <a class="btn btn-primary" href="{% url 'generate_annual_fee' %}">Export Report</a>
                            {% elif "dues" in request.path %}
                                <a class="btn btn-primary" href="{% url 'generate_dues_fee' %}">Export Report</a>
                            {% else %}
                                <a class="btn btn-primary" href="{% url 'generate_expense_fee' %}">Export Report</a>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                <div class="table-responsive">
                    <table class="table text-nowrap" id="datatable">
                        <thead>
                            <tr>
                                {% for header_name in header_list %}
                                <th>{{ header_name }}</th>
                                {% endfor %}
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in view_data %}
                            <tr>
                                {% for field, value in item.items %}
                                    {% if field != "id" %}
                                        <td class="align-middle">
                                            {% if value == True %}
                                               <span class="badge bg-primary">Approved</span>
                                            {% elif value == False %}
                                            <span class="badge bg-primary">Pending</span>
                                            {% else %}
                                                {{ value }}
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                <td class="align-middle">
                                    <div class="dropdown dropstart">
                                        <a
                                            class="text-muted text-primary-hover"
                                            href="#"
                                            role="button"
                                            id="dropdownTeamOne"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                        >
                                            <i class="icon-xxs" data-feather="more-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownTeamOne{{ item.id }}">
                                            {% if request.path == '/members/list' %}
                                            <a class="dropdown-item" href="{% url 'update_membership' pk=item.id %}">Edit</a>
                                            <a class="dropdown-item" href="{% url 'delete_membership' pk=item.id %}">Remove</a>
                                            {% elif request.path == '/members/pending/list' %}
                                            <a class="dropdown-item" href="{% url 'approve_membership' pk=item.id %}">Approve Membership</a>
                                            {% elif "beneficiary" in request.path %}
                                            <a class="dropdown-item" href="{% url 'update_beneficiary' pk=item.id %}">Edit</a>
                                            <a class="dropdown-item" href="{% url 'delete_beneficiary' pk=item.id %}">Remove</a>
                                            
                                            {% elif "payments" in request.path %}
                                            <a class="dropdown-item" href="{% url 'update_payment' pk=item.id %}">Edit</a>
                                            <a class="dropdown-item" href="{% url 'delete_payment' pk=item.id %}">Remove</a>
                                            
                                            {% elif request.path == '/assistance/pending/list' %}
                                            <a class="dropdown-item" href="{% url 'approve_assistance' pk=item.id %}">Approve Assistance</a>
                                                                                    
                                            {% elif request.path == '/users/inactive/list' %}
                                            <a class="dropdown-item" href="{% url 'activate_user' pk=item.id %}">Activate User</a>
                                            {% elif "users" in request.path %}
                                            <a class="dropdown-item" href="{% url 'update_user' pk=item.id %}">Edit</a>
                                            <!-- <a class="dropdown-item" href="{% url 'change_password' pk=item.id %}">Change Password</a> -->
                                            <a class="dropdown-item" href="{% url 'delete_user' pk=item.id %}">Remove</a>
                                            
                                            {% elif "assistance" in request.path %}
                                            <a class="dropdown-item" href="{% url 'update_assistance' pk=item.id %}">Edit</a>
                                            <a class="dropdown-item" href="{% url 'delete_assistance' pk=item.id %}">Remove</a>
                                            
                                            {% else %}
                                            <a class="dropdown-item" href="{% url 'update_payment' pk=item.id %}">Edit</a>
                                            <a class="dropdown-item" href="{% url 'delete_payment' pk=item.id %}">Remove</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
