{% extends './includes/base.html' %}
{% load static %}
{% block title %}DSAPTEA Financial Management System | Dashboard{% endblock title %}
{% block content %}
<div class="container-fluid mt-n20 px-6">
    <div class="row align-items-center">
        <div class="col-md-9">
            <h3>Dashboard Overview</h3>
        </div>
        <div class="col-md-3">
            <select class="form-select w-100">
                <option>School Year</option>
                <option value="1">2023-2024</option>
                <option value="2">2024-2025</option>
            </select>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-xl-3 col-lg-6 col-md-12 col-12">
            <div class="card ">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div>
                            <h4 class="mb-0">Membership</h4>
                        </div>
                        <div class="icon-shape icon-md bg-light-primary text-primary rounded-2">
                            <i class="bi bi-bullseye fs-4"></i>
                        </div>
                    </div>
                    <div>
                        <h2 class="fw-bold">{{ total_membership }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 col-12">
            <div class="card ">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div>
                            <h4 class="mb-0">Pending</h4>
                        </div>
                        <div class="icon-shape icon-md bg-light-primary text-primary rounded-2">
                            <i class="bi bi-bullseye fs-4"></i>
                        </div>
                    </div>
                    <div>
                        <h2 class="fw-bold">{{ total_pending }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 col-12">
            <div class="card ">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div>
                            <h4 class="mb-0">Collections</h4>
                        </div>
                        <div class="icon-shape icon-md bg-light-primary text-primary rounded-2">
                            <i class="bi bi-bullseye fs-4"></i>
                        </div>
                    </div>
                    <div>
                        <h2 class="fw-bold">₱ {{ total_payments }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 col-12">
            <div class="card ">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div>
                            <h4 class="mb-0">Beneficiaries</h4>
                        </div>
                        <div class="icon-shape icon-md bg-light-primary text-primary rounded-2">
                            <i class="bi bi-bullseye fs-4"></i>
                        </div>
                    </div>
                    <div>
                        <h2 class="fw-bold">
                            {{ total_beneficary }}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-6">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="card h-100">
                <div class="card-header border-0 bg-white py-4">
                    <h4 class="mb-0">Payment History Chart</h4>
                </div>
                <div id="chart"></div>
            </div>
        </div>
    </div>
    <div class="row my-6">
        <div class="col-xl-6 col-lg-12 col-md-12 col-12">
            <div class="card h-100">
                <div class="card-header border-0 bg-white py-4">
                    <h4 class="mb-0">Hopitalization vs Death</h4>
                </div>
                <div id="yawa"></div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-12 col-12">
            <div class="card h-100">
                <div class="card-header border-0 bg-white py-4">
                    <h4 class="mb-0">Enrolled Members per School</h4>
                </div>
                <div id="piste"></div>
            </div>
        </div>
    </div>
    <div class="row my-6">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="card h-100">
                <div class="card-header border-0 bg-white py-4">
                    <h4 class="mb-0">Latest Users</h4>
                </div>
                <div class="table-responsive">
                    <table class="table text-nowrap" id="datatable">
                        <thead>
                            <tr>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Username</th>
                                <th>Type</th>
                                <th>Last Login</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for latest_user in latest_users %}
                            <tr>
                                <td class="align-middle">{{ latest_user.first_name }}</td>
                                <td class="align-middle">{{ latest_user.last_name }}</td>
                                <td class="align-middle">{{ latest_user.username }}</td>
                                <td class="align-middle">
                                    <span class="badge bg-primary">{{ latest_user.user_type }}</span>
                                </td>
                                <td class="align-middle">{{ latest_user.last_login }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
