{% extends './../includes/base.html' %}
{% load static %}
{% block title %}DSAPTEA Financial Management System{% endblock title %}

{% block content %}
<div class="container-fluid mt-n22 px-6 mt-6">
    <div class="row my-6">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            {% include './../message.html' %}
            <div class="card">
                <div class="card-header border-0 bg-white d-flex justify-content-between align-items-center">
                    <h4 class="mb-0">Dependents</h4>
                    <div>
                    <a href="{% url 'add_dependent_page' %}" class="btn btn-primary">Add Dependents</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table text-nowrap" id="datatable">
                        <thead>
                            <tr>
                                <th>Related to</th>
                                <th>Fullname</th>
                                <th>Gender</th>
                                <th>Relationship</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in dependents %}
                            <tr>
                                <td>{{ item.related_to_member }}</td>
                                <td>{{ item.get_full_name_of_dependent }}</td>
                                <td>{{ item.gender }}</td>
                                <td>{{ item.relationship_to_member }}</td>
                                <td class="align-middle">
                                    <div class="dropdown dropstart">
                                        <a
                                            class="text-muted text-primary-hover"
                                            href="#"
                                            role="button"
                                            id="dropdownTeamOne"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                        >
                                            <i class="icon-xxs" data-feather="more-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownTeamOne">
                                            <a class="dropdown-item" href="{% url 'update_dependent_page' pk=item.id %}">Edit</a>
                                            <a class="dropdown-item" href="{% url 'delete_dependent_page' pk=item.id %}">Remove</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
