{% extends './../includes/base.html' %}
{% load static %}
{% block title %}DSAPTEA Financial Management System | Dashboard{% endblock title %}
{% block content %}
<div class="container-fluid mt-n20 px-6">
    <div class="row my-6">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="card h-100">
                <div class="card-header border-0 bg-white py-4 d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">Export Financial Transactions Ledger</h4>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Export Ledger</button>
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table text-nowrap" id="datatable">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Transaction Type</th>
                                <th>Credit Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transaction in transactions %}
                            <tr>
                                <td class="align-middle">{{ transaction.transaction_date }}</td>
                                <td class="align-middle">{{ transaction.description }}</td>
                                <td class="align-middle">{{ transaction.amount }}</td>
                                <td class="align-middle">{{ transaction.transaction_type }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
