{% extends './../includes/base.html' %}
{% load static %}
{% block title %}DSAPTEA Financial Management System{% endblock title %}

{% block content %}
<div class="container-fluid mt-n22 px-6 mt-6">
    <div class="row my-6">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            {% include './../message.html' %}
            <div class="card">
                <div class="card-header border-0 bg-white d-flex justify-content-between align-items-center">
                    <h4 class="mb-0">Payments</h4>
                    <div>
                        <a href="{% url 'add_payment_page' %}" class="btn btn-primary">Create Payment</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table text-nowrap" id="datatable">
                        <thead>
                            <tr>
                                <th>Paid by</th>
                                <th>Amount</th>
                                <th>School Year</th>
                                <th>Payment Type</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        {% for item in payments %}
                            <tr>
                                <td>{{ item.paid_by }}</td>
                                <td>{{ item.amount }}</td>
                                <td>{{ item.school_year }}</td>
                                <td>
                                    <span class="badge bg-primary">{{ item.payment_type }}</span>
                                </td>
                                <td class="align-middle">
                                    <div class="dropdown dropstart">
                                        <a
                                            class="text-muted text-primary-hover"
                                            href="#"
                                            role="button"
                                            id="dropdownTeamOne"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                        >
                                            <i class="icon-xxs" data-feather="more-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownTeamOne">
                                            <a class="dropdown-item" href="">Edit</a>
                                            <a class="dropdown-item" href="">Remove</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
