{% extends './../includes/base.html' %}
{% block title %}DSAPTEA Financial Management System | Remove{% endblock title %}

{% block content %}
<div class="container-fluid mt-n22 px-6 mt-6">
    <div class="row my-6">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="card h-100">
                <div class="card-header bg-white">
                    <h4 class="mb-0">{{ header_title }}</h4>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>
                            Are you sure you want to remove <b>{{ object }}</b>? This action cannot be undone after submitting.
                        </p>
                        <input type="submit" value="{{ header_title }}" class="btn btn-primary mt-2">
                        <button type="button" onclick="back()" class="btn btn-secondary mt-2">Back</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
