{% extends './../includes/base.html' %}
{% load static %}
{% block title %}DSAPTEA Financial Management System | {{ header_title }}{% endblock title %}

{% block content %}
<div class="container-fluid mt-n22 px-6 mt-6">
    <div class="row my-6">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            {% include './../message.html' %}
            <div class="card h-100">
                <div class="card-header bg-white">
                    <h4 class="mb-0">{{ header_title }}</h4>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for input in form %}

                        {% if input.id_for_label == 'id_assistance_evidence_first' or input.id_for_label == 'id_assistance_evidence_second' or input.id_for_label == 'id_death_cert' %}
                        <div class="mb-3 {{ input.id_for_label }}">
                            <label class="form-label" for="{{ input.id_for_label }}">{{ input.label }}</label>
                            {{ input }}
                            <small class="text-muted">{{ input.help_text }}</small>
                        </div>
                        {% else %}
                        <div class="mb-3">
                            <label class="form-label" for="{{ input.id_for_label }}">{{ input.label }}</label>
                            {{ input }}
                            <small class="text-muted">{{ input.help_text }}</small>
                        </div>
                        {% endif %}

                          
                        {% endfor %}
                        <input type="submit" value="{{ header_title }}" class="btn btn-primary mt-2">
                        <button type="button" onclick="back()" class="btn btn-secondary mt-2">Back</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}