{% extends './../includes/base.html' %}
{% load static %}
{% block title %}DSAPTEA Financial Management System | My Assistance {% endblock title %}

{% block content %}
<div class="container-fluid mt-n22 px-6 mt-6">
    <div class="row my-6">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            {% include './../message.html' %}
            <div class="card">
                <div class="card-header border-0 bg-white">
                    <h4 class="mb-0">My Assistance</h4>
                </div>
                <div class="table-responsive">
                    <table class="table text-nowrap" id="datatable">
                        <thead>
                            <tr>
                                <th>Requested by</th>
                                <th>Assistance</th>
                                <th>Assistance Status</th>
                                <th>Date Requested</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in my_assistance_request %}
                            <tr>
                                <td>
                                    {{ item.request_by }}
                                   </td>
                               <td>
                                <span class="badge bg-primary">{{ item.type_of_assistance }}</span>
                               </td>
                               <td>
                                {% if item.assistance_status %}
                                    <span class="badge bg-primary">Approved</span>
                                {% else %}
                                    <span class="badge bg-warning">Pending</span>
                                {% endif %}
                               </td>
                               <td>
                                {{ item.date_released }}
                               </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
