{% extends './../includes/base.html' %}
{% load static %}
{% block title %}DSAPTEA Financial Management System | {{ header_title }} {% endblock title %}

{% block content %}
<div class="container-fluid mt-n22 px-6 mt-6">
    <div class="row my-6">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            {% include './../includes/message.html' %}
            <div class="card">
                <div class="card-header border-0 bg-white">
                    <h4 class="mb-0">{{ header_title }}</h4>
                    {% if request.user.user_type == "Treasurer" %}
                    {% endif %}
                </div>
                <div class="table-responsive">
                    <table class="table text-nowrap" id="datatable">
                        <thead>
                            <tr>
                                {% for header_name in header_list %}
                                <th>{{ header_name }}</th>
                                {% endfor %}
                                {% if not request.path == '/employee/payment/list' %}
                                <th>Action</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in view_data %}
                            <tr>
                                {% for field, value in item.items %}
                                    {% if field != "id" %}
                                        <td class="align-middle">
                                            {% if value == True %}
                                                Approved
                                            {% elif value == False %}
                                                Pending
                                            {% else %}
                                                {{ value }}
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                {% if not request.path == '/employee/payment/list' %}
                                <td class="align-middle">
                                    <div class="dropdown dropstart">
                                        <a
                                            class="text-muted text-primary-hover"
                                            href="#"
                                            role="button"
                                            id="dropdownTeamOne"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                        >
                                            <i class="icon-xxs" data-feather="more-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownTeamOne{{ item.id }}">
                                            {% if request.path == '/employee/beneficiary/list' %}
                                            <a class="dropdown-item" href="{% url 'employee_update_beneficiary' pk=item.id %}">Edit</a>
                                            <a class="dropdown-item" href="{% url 'employee_delete_beneficiary' pk=item.id %}">Remove</a>
                                            {% elif request.path == '/employee/assistance/list' %}
                                            <a class="dropdown-item" href="{% url 'employee_update_assistance' pk=item.id %}">Edit</a>
                                            <a class="dropdown-item" href="{% url 'employee_delete_assistance' pk=item.id %}">Remove</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
