{% extends './../includes/base.html' %}
{% load static %}
{% block title %}DSAPTEA Financial Management System | {{ header_title }} {% endblock title %}

{% block content %}
<div class="container-fluid mt-n22 px-6 mt-6">
    <div class="row my-6">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            {% include './../includes/message.html' %}
            <div class="card">
                <div class="card-header border-0 bg-white">
                    <h4 class="mb-0">{{ header_title }}</h4>
                    {% if request.user.user_type == "Treasurer" %}
                    {% endif %}
                </div>
                <div class="table-responsive">
                    <table class="table text-nowrap" id="datatable">
                        <thead>
                            <tr>
                                {% for header_name in header_list %}
                                <th>{{ header_name }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in view_data %}
                            <tr>
                                {% for field, value in item.items %}
                                    {% if field != "id" %}
                                        <td class="align-middle">
                                            {% if field == "payment_type" %}
                                                {% if value == "Membership" %}
                                                    <span class="badge bg-primary">{{ value }}</span>
                                                {% elif value == "Delegation Pay" %}
                                                    <span class="badge bg-primary">{{ value }}</span>
                                                {% elif value == "Trust Fund" %}
                                                    <span class="badge bg-primary">{{ value }}</span>
                                                {% else %}
                                                    <span class="badge bg-primary">{{ value }}</span>
                                                {% endif %}
                                            {% else %}
                                                {% if value == True %}
                                                    <span class="badge bg-primary">Approved</span>
                                                {% elif value == False %}
                                                    <span class="badge bg-warning">Pending</span>
                                                {% else %}
                                                    {{ value }}
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    {% endif %}


                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
